<div class="header">
  <a class="header__logo" href="#">
    <img src="asset/Img/logo.webp" alt="Logo" class="header__logo-img" />
  </a>

  <ul class="header__list hide-on-mobile">
    <li class="header__item header__item-sub1">
      <a routerLink="viec-lam" class="header__item-link">Việc Làm</a>
      <div class="header__list-sub1">
        <ul class="list__sub">
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-magnifying-glass"></i>
              Tìm việc làm
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-briefcase"></i> Việc làm
              đã ứng tuyển
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-heart"></i> Việc làm đã
              lưu
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-robot"></i> Việc làm phù
              hợp
            </a>
            <span class="list__sub-item-hot">Hot</span>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-cloud"></i> Việc làm từ
              xa (Remote)
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-laptop"></i> Việc làm IT
            </a>
            <span class="list__sub-item-new">Mới</span>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-user-graduate"></i> Việc
              làm Senior
            </a>
            <span class="list__sub-item-new">Mới</span>
          </li>
        </ul>
        <div class="list__img-job">
          <img src="asset/Img/nav-job.webp" alt="" class="list__img-link" />
        </div>
      </div>
    </li>
    <li class="header__item header__item-sub2">
      <a href="#" class="header__item-link">Hồ sơ & CV</a>
      <div class="header__list-sub2">
        <ul class="list__sub">
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-id-badge"></i> Quản lý
              CV
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-file-lines"></i> Quản lý
              Cover Letter
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-id-badge"></i> Mẫu CV
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-file-lines"></i> Mẫu
              Cover Letter
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-id-badge"></i> Dịch vụ
              tư vấn CV
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-id-badge"></i> Hướng dẫn
              viết CV theo nghành nghề
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-id-card"></i> TopCV
              profile
            </a>
          </li>
        </ul>
        <div class="list__img-cv">
          <img src="asset/Img/nav-cv.webp" alt="" class="list__img-link" />
        </div>
      </div>
    </li>
    <li class="header__item header__item-sub3">
      <a href="CongTy.html" class="header__item-link">Công Ty</a>
      <div class="header__list-sub3">
        <ul class="list__sub">
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-building"></i> Danh sách
              công ty
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-city"></i> Top công ty
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__item header__item-sub4">
      <a href="#" class="header__item-link">Phát triển sự nghiệp</a>
      <div class="header__list-sub4">
        <ul class="list__sub">
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-medal"></i> TopCV
              Contest
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-book"></i> TopCV Skills
            </a>
            <span class="list__sub-item-new">Mới</span>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-circle-question"></i>
              Trắc nghiệm tính cách MBTI
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-circle-question"></i>
              Trắc nghiệm MI
            </a>
          </li>
        </ul>
        <div class="list__img-contest">
          <img src="asset/Img/nav-contest.webp" alt="" class="list__img-link" />
        </div>
      </div>
    </li>
    <li class="header__item header__item-sub5">
      <a href="#" class="header__item-link">Công cụ</a>
      <div class="header__list-sub5">
        <ul class="list__sub">
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-calculator"></i> Tính
              lương GROSS - NET
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-calculator"></i> Tính
              lãi xuất kép
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-calculator"></i> kế
              hoạch tiết kiệm
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-calculator"></i> Bảo
              hiểm thất nghiệp
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-calculator"></i> Tính
              bảo hiểm xã hội một lần
            </a>
          </li>
          <li class="list__sub-item">
            <a href="#" class="list__sub-item-link">
              <i class="list__sub-item-icon fa-solid fa-mobile"></i> Mobile App
              TopCV
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <ul class="header__btn">
    <li class="header__btn-login">
      <a href="#" class="header__btn-login-link">Đăng Nhập</a>
    </li>
    <li class="header__btn-sign-up">
      <a href="#" class="header__btn-sign-up-link">Đăng Ký</a>
    </li>
  </ul>
  <!-- Mobile navbar -->
  <label for="nav-mobile-input" class="header-mobile__icon">
    <i class="header-mobile__icon-link fa-solid fa-list"></i>
  </label>
  <input type="checkbox" name="" id="nav-mobile-input" autocomplete="off" />
  <label for="nav-mobile-input" class="over__lay"></label>
  <div class="header-mobile__menu">
    <label for="nav-mobile-input" class="header-mobile__control">
      <i class="header-mobile__control-icon fa-solid fa-xmark"></i>
    </label>
    <ul class="header-mobile__list">
      <li class="header-mobile__item">
        <a href="#" class="header-mobile__item-link">Việc Làm</a>
        <div class="header-mobile__item-listsub">
          <ul class="header-mobie__list-sub">
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-magnifying-glass"
                ></i>
                Tìm việc làm
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-briefcase"
                ></i>
                Việc làm đã ứng tuyển
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-heart"
                ></i>
                Việc làm đã lưu
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-robot"
                ></i>
                Việc làm phù hợp
              </a>
              <span class="list__sub-item-hot">Hot</span>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-cloud"
                ></i>
                Việc làm từ xa (Remote)
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-laptop"
                ></i>
                Việc làm IT
              </a>
              <span class="list__sub-item-new">Mới</span>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-user-graduate"
                ></i>
                Việc làm Senior
              </a>
              <span class="list__sub-item-new">Mới</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-mobile__item">
        <a href="#" class="header-mobile__item-link">Hồ Sơ & CV</a>
        <div class="header-mobile__item-listsub">
          <ul class="header-mobie__list-sub">
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-id-badge"
                ></i>
                Quản lý CV
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-file-lines"
                ></i>
                Quản lý Cover Letter
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-id-badge"
                ></i>
                Mẫu CV
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-file-lines"
                ></i>
                Mẫu Cover Letter
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-id-badge"
                ></i>
                Dịch vụ tư vấn CV
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-id-badge"
                ></i>
                Hướng dẫn viết CV theo nghành nghề
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-id-card"
                ></i>
                TopCV profile
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-mobile__item">
        <a href="#" class="header-mobile__item-link">Công Ty</a>
        <div class="header-mobile__item-listsub">
          <ul class="header-mobie__list-sub">
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-building"
                ></i>
                Danh sách công ty
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-city"
                ></i>
                Top công ty
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-mobile__item">
        <a href="#" class="header-mobile__item-link">Phát triển sự nghiệp</a>
        <div class="header-mobile__item-listsub">
          <ul class="header-mobie__list-sub">
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-medal"
                ></i>
                TopCV Contest
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-book"
                ></i>
                TopCV Skills
              </a>
              <span class="list__sub-item-new">Mới</span>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-circle-question"
                ></i>
                Trắc nghiệm tính cách MBTI
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-circle-question"
                ></i>
                Trắc nghiệm MI
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-mobile__item">
        <a href="#" class="header-mobile__item-link">Công cụ</a>
        <div class="header-mobile__item-listsub">
          <ul class="header-mobie__list-sub">
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-calculator"
                ></i>
                Tính lương GROSS - NET
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-calculator"
                ></i>
                Tính lãi xuất kép
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-calculator"
                ></i>
                kế hoạch tiết kiệm
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-calculator"
                ></i>
                Bảo hiểm thất nghiệp
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-calculator"
                ></i>
                Tính bảo hiểm xã hội một lần
              </a>
            </li>
            <li class="header-mobile__list-sub-item">
              <a href="#" class="header-mobile__list-sub-item-link">
                <i
                  class="header-mobile__list-sub-item-icon fa-solid fa-mobile"
                ></i>
                Mobile App TopCV
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- * -->
</div>
