<div class="body">
  <div class="body__top">
    <div class="grid wide">
      <div class="row">
        <div class="col l-5 m-12 c-12">
          <div class="body__top-boxsearch">
            <ul class="body__top-boxsearch-list">
              <li class="body__top-boxsearch-list-item">
                <a href="#" class="body__top-boxsearch-list-item-link"
                  >Danh sách công ty</a
                >
              </li>
              <li class="body__top-boxsearch-list-item">
                <a href="#" class="body__top-boxsearch-list-item-link"
                  >Top công ty</a
                >
              </li>
            </ul>
            <div class="body__top-boxsearch-title">
              <h1>Khám phá 100.000+ công ty nổi bật</h1>
              <p>
                Tra cứu thông tin công ty và tìm kiếm nơi làm việc tốt nhất dành
                cho bạn
              </p>
            </div>
            <div class="body__top-boxsearch-search">
              <div class="header__search fl-l">
                <div class="header__search-primary">
                  <input
                    autocomplete="off"
                    onblur="hideShow()"
                    onkeyup="search()"
                    id="key-search"
                    type="text"
                    class="header__search-input"
                    placeholder="Nhập tên công ty..."
                  />
                  <button class="header__search-btn">
                    <i
                      class="header__search-icon fa-solid fa-magnifying-glass"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l-7 m-12 c-12">
          <div class="body__top-boximg fl-r">
            <img
              src=" /assets/Img/Công ty/Img body top/company-billBoard.svg"
              alt=""
              class="body__top-boximg-link"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body__content">
    <div class="grid wide">
      <div class="body__content-title">
        <h2>Danh Sách Công Ty Nổi Bật</h2>
      </div>
      <div class="body__content-list">
        <div class="row">
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/1.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">Công ty TNHH CMC GLOBAL</a>
                </h3>
                <p>
                  " CMC Global ra đời từ kinh nghiệm 25 năm trong lĩnh vực ICT
                  và hơn 10 năm kinh nghiệm trong lĩnh vực Outsourcing của Tập
                  đoàn công nghệ CMC, với sứ mệnh trở thành đơn vị cung cấp nhân
                  lực kỹ sư phần mềm chất lượng cao, cung cấp các giải pháp,
                  dịch vụ CNTT cho thị trường quốc tế. Hiện CMC Global đang sở
                  hữu đến 700++ nhân viên,..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/2.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ DỊCH VỤ SAIGON REAL</a>
                </h3>
                <p>
                  " Saigon Real là công ty thành viên của Đất Xanh Miền Nam -
                  Top 05 Sàn Giao Dịch BĐS tốt nhất Việt Nam. Thành viên của Tập
                  Đoàn Đất Xanh - Top 10 nhà phát triển BĐS hàng đầu Việt Nam.
                  "Trên nền tảng của sự TẬN TÂM - TRÁCH NHIỆM - CHUYÊN NGHIỆP.
                  Thừa hưởng những thành tựu từ Đất Xanh Miền Nam - SaiGon Real
                  đã có kinh..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/3.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#"
                    >CÔNG TY CỔ PHẦN GIÁO DỤC VÀ CÔNG NGHỆ HÙNG VƯƠNG</a
                  >
                </h3>
                <p>
                  " Giới thiệu về VUIHOCChỉ sau 3 năm thành lập, VUIHOC đã vươn
                  lên mạnh mẽ, lọt vào TOP các Công ty trong lĩnh vực EdTech,
                  trở thành nền tảng học tập trực tuyến hàng đầu dành cho học
                  sinh từ lớp 1 đến lớp 12, cung cấp các khoá học online gồm
                  Toán, Tiếng Việt, Tiếng Anh, Lý, Hoá, SinhVUIHOC cũng vinh dự
                  là đơn vị giáo dục duy nhất..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/4.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#"
                    >CÔNG TY TNHH KHU DU LỊCH VỊNH THIÊN ĐƯỜNG (ALMA)</a
                  >
                </h3>
                <p>
                  " VỀ CÔNG TYCông ty TNHH Khu Du Lịch Vịnh Thiên Đường (ALMA)
                  hoạt động trong lĩnh vực du lịch nghỉ dưỡng. Chính thức ra mắt
                  với công chúng từ năm 2013, trải qua quá trình phát triển,
                  Công ty TNHH Khu Du Lịch Vịnh Thiên Đường – Công ty ALMA bao
                  gồm 4 chi nhánh hoạt động tại các thành phố lớn là Hà Nội, Hồ
                  Chí Minh và Nha..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/6.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CP ĐẦU TƯ BĐS PHÚC THỊNH</a>
                </h3>
                <p>
                  " Công ty CP ĐT BĐS Phúc Thịnh được thành lập dựa trên những
                  kinh nghiệm lâu năm, tiềm lực sẵn có và những hiểu biết sâu
                  sắc về thị trường bất động sản Việt NamTrong quá trình hình
                  thành và phát triển, với tiêu chí hoạt động xuyên suốt “Uy tín
                  – Hiệu quả – Chất lượng”, chúng tôi luôn đem lại sự tin tưởng,
                  hiệu quả và hơn hết..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/5.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN AMERICAN LEARNING LAB</a>
                </h3>
                <p>
                  " HỆ THỐNG ANH NGỮ TÍCH HỢP CÔNG NGHỆ 4.0 CHUẨN HOA KỲ Hệ
                  thống đào tạo của ALAB tích hợp công nghệ 4.0 chuẩn quốc tế,
                  dựa trên sự kết nối giữa bảng tương tác thông minh
                  (Smartboard), máy tính bảng cá nhân (Tablet), cùng với môi
                  trường học 100% tiếng Anh nhằm giúp học viên phát triển tư duy
                  toàn diện Hệ thống được xây dựng Công nghệ tương..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/7.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN DKRA VEGA</a>
                </h3>
                <p>
                  " Công ty Cổ phần DKRA Vega – thành viên hệ thống DKRA
                  Vietnam, được thành lập năm 2018. Thừa hưởng hệ giá trị cốt
                  lõi và nền tảng kinh doanh vững chắc từ hệ thống, DKRA Vega
                  đặt mục tiêu chiến lược là đơn vị cung cấp dịch vụ tư vấn,
                  phân phối và tiếp thị các dự án bất động sản uy tín, mang đến
                  những sản phẩm chất..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/8.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY TNHH TRANSCOSMOS VIỆT NAM</a>
                </h3>
                <p>
                  " Được thành lập vào năm 1966 tại Shibuya, Tokyo, Nhật Bản,
                  tập đoàn Transcosmos Inc đã nhanh chóng mở rộng quy mô tại 32
                  quốc gia trên toàn thế giới với 172 địa điểm cho đến nay.Tại
                  Việt Nam, trụ sở chính của Transcosmos được thành lập tại Hà
                  Nội vào năm 2014. Hơn nữa, Transcosmos Việt Nam đã phát triển
                  nhanh chóng thành thị trường lớn nhất của Thành..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/9.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#"
                    >CÔNG TY CHO THUÊ TÀI CHÍNH TNHH MTV QUỐC TẾ CHAILEASE</a
                  >
                </h3>
                <p>
                  " Công ty Cho Thuê Tài Chính TNHH Một Thành Viên Quốc Tế
                  Chailease (""CILC"") là tổ chức tín dụng 100% vốn nước ngoài
                  thuộc Chailease Finance Group – là tập đoàn cho thuê tài chính
                  hàng đầu ở Đài Loan với hơn 40 năm kinh nghiệm và có hoạt động
                  kinh doanh tại các quốc gia thuộc lãnh thổ Trung Quốc, Đài
                  Loan, Châu Á Thái Bình Dương và Hoa..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/10.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN TẬP ĐOÀN ITP</a>
                </h3>
                <p>
                  " Công ty Cổ phần Tập đoàn ITP (ITP Group) là tập đoàn công
                  nghệ tiên phong hỗ trợ toàn diện các doanh nghiệp SME trong
                  cộng đồng Việt toàn cầu.Trong suốt 2 năm hình thành và phát
                  triển với phương châm TÂM - TẦM - TÀI - TỐC - TRÍ, ITP Group
                  đã có hơn 100 dự án hoàn thành, hơn 1000 khách hàng thân thiết
                  là những tập đoàn..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/11.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY TNHH MILENSEA RETAIL</a>
                </h3>
                <p>
                  " “Cuộc sống là sẻ chia”, với phương châm sống này, từ năm
                  2010, Ông Tal Siman Tov cùng vợ là Bà Sima Siman Tov, 2 người
                  con của vùng đất thánh Jerusalem, đã mang những bí truyền làm
                  đẹp từ quê hương sở tại đi khắp khu vực Đông Nam Á với mong
                  muốn chăm sóc và giữ gìn vẻ đẹp cùng làn da cho người phụ nữ Á
                  Đông.Đem..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/12.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY TÀI CHÍNH TNHH MB SHINSEI (MCREDIT)</a>
                </h3>
                <p>
                  " Mcredit trao cho bạn một tương lai tài chính vững vàng, ngay
                  KHI BẠN CẦNĐược thành lập từ năm 2016, Công ty Tài chính TNHH
                  MB Shinsei (Mcredit) là công ty tài chính liên doanh giữa Ngân
                  hàng TMCP Quân đội (thuộc MB Group) và Ngân hàng Shinsei (Nhật
                  Bản).Nhất quán với chiến lược kinh doanh “Khách hàng là trung
                  tâm”, Mcredit cung cấp các giải pháp tài chính thuận..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/13.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN CQ TDT ASIA</a>
                </h3>
                <p>
                  " 2017 marked the establishment of TDT Asia as an IT
                  product-based company with the vision to deliver innovative
                  financial information systems and software for the Asian
                  market in particular and global market in general. TDT stands
                  out as the only company in Vietnam that specializes in
                  providing financial platforms for our B2B clients from
                  developed countries."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/14.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#"
                    >CÔNG TY TNHH GIẢI PHÁP TIN HỌC IFI SOLUTION JSC</a
                  >
                </h3>
                <p>
                  " Công ty IFI Solution là công ty thành viên thuộc nhánh Châu
                  Âu của Tập đoàn NTT Data, tập đoàn Top 10 Thế giới và Số 1
                  Nhật Bản về Dịch vụ CNTT. IFI Solution chuyên thực hiện các dự
                  án phát triển và kiểm thử Web/ Clouds Application, Master Data
                  Management, IoT & Big Data platform, Mobile Apps, chủ yếu cho
                  các khách hàng Châu Âu như Pháp, Đức,..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/15.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN SMARTOSC</a>
                </h3>
                <p>
                  " Được thành lập năm 2006, SmartOSC là công ty hàng đầu cung
                  cấp các giải pháp toàn diện về Thương Mại Điện Tử trên nền
                  tảng Magento, Sitecore, Adobe, Hybris, Kentico mang tính hiệu
                  quả cao, từ việc thiết kế cho đến xây dựng các chiến lược kinh
                  doanh hay quản lý hoạt động ở các cửa hàng. Hiện này, SmartOSC
                  đã cung cấp giải pháp cho hơn 500 khách..."
                </p>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12">
            <div class="body__content-item">
              <div class="body__content-item-banner">
                <a href="#" class="body__content-item-banner-link">
                  <img
                    src=" /assets/Img/Công ty/data/16.webp"
                    alt=""
                    class="body__content-item-banner-link-img"
                  />
                </a>
              </div>
              <div class="body__content-item-infor">
                <h3>
                  <a href="#">CÔNG TY CỔ PHẦN TẬP ĐOÀN G</a>
                </h3>
                <p>
                  " G-Group là một trong các Tập đoàn Công nghệ hàng đầu của
                  Việt Nam, có trụ sở chính đặt tại Hà Nội và chi nhánh tại TP.
                  Hồ Chí Minh. G-Group chú trọng ứng dụng và đầu tư mạnh mẽ cho
                  công nghệ và con người, nhằm tăng chất lượng trải nghiệm cuộc
                  sống của người Việt. Chúng tôi tập trung đầu tư phát triển
                  trong 3 lĩnh vực: Tài..."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
