<div class="container">
  <div class="row" style="margin-right: -5px;">
    <div class="col l-2">
      <div class="container-nav hide-on-mobile-tablet">
        <button style="border-right: 3px solid var(--primary-color);"><i class="fa-brands fa-bitcoin"></i>Tổng quan</button>
        <button onclick="LoaiCv()"><i class="fa-solid fa-layer-group"></i>Loại CV</button>
        <button onclick="Cv()"><i class="fa-solid fa-id-badge"></i>CV</button>
        <button onclick="Ntd()"><i class="fa-solid fa-building"></i>Nhà Tuyển Dụng</button>
        <button onclick="Uv()"><i class="fa-solid fa-user-pen"></i>Ứng Viên</button>
        <button onclick="Nv()"><i class="fa-solid fa-user-check"></i>Nhân Viên</button>
        <button><i class="fa-solid fa-newspaper"></i>Tin Tức</button>
        <button><i class="fa-solid fa-gears"></i>Thiết Lập</button>
      </div>
    </div>
    <div class="col l-3 m-12 c-12 ">
      <h2 class="container-tilte">
        <i class="fa-solid fa-signal"></i> Hoạt Động Hôm Nay
      </h2>

      <div class="container-general">
        <i class="fa-solid fa-signal"></i>
        <div class="container-general-right">
          <h3>Số Lượng Tin Tuyển Dụng</h3>
          <h3>0</h3>
        </div>
      </div>

      <div class="container-detail" style="border: 1px solid #9abc32;">
        <h3>
          <i class="fa-solid fa-signal"></i> Hoạt Động
        </h3>
        <div class="container-detail-row" style="border-top: 1px solid #9abc32;">
          <span class="container-detail-row-money">Số tin tuyển dụng</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Số tin tuyển dụng đã có ứng viên</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Số ứng viên</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Số lượng khách đánh giá</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
      </div>
    </div>
    <div class="col l-4 m-12 c-12" style="margin-top:45px ;">
      <div class="container-general" style="background-color:#6FB3D0 ;">
        <i class="fa-solid fa-cloud"></i>
        <div class="container-general-right">
          <h3>Số ứng viên: 0</h3>
          <h3>Số lượng tin tuyển dụng: 0</h3>
        </div>
      </div>

      <div class="container-detail" style="border: 1px solid #6fb3d0;">
        <h3>
          <i class="fa-solid fa-signal"></i> Thông tin cơ sở dữ liệu<u></u>
        </h3>
        <div class="container-detail-row" style="border-top: 1px solid #6FB3D0;">
          <span class="container-detail-row-money">Tin tuyển dụng quá hạn</span>
          <span class="container-detail-row-quantity">0đ</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Tin tuyển dụng sắp hết hạn</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Tin tuyển dụng ít người xem </span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Tin tuyển dụng quá định mức ứng viên</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
      </div>
    </div>
    <div class="col l-3 m-12 c-12" style="margin-top: 45px;">
      <div class="container-general" style="background-color:#dd5533 ;">
        <i class="fa-solid fa-rotate-left"></i>
        <div class="container-general-right">
          <h3>Đánh giá khách hàng</h3>
          <h3>0</h3>
        </div>
      </div>

      <div class="container-detail" style="border: 1px solid #dd5533;">
        <h3>
          <i class="fa-solid fa-rotate-left"></i> Hoạt Động

        </h3>
        <div class="container-detail-row" style="border-top: 1px solid #dd5533;">
          <span class="container-detail-row-money">Lượng khách hàng hài lòng về dịch vụ</span>
          <span class="container-detail-row-quantity">0đ</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Số ưng viên hủy bỏ ứng tuyển</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Số tin tuyển dụng không tiếp cận khách hàng</span>
          <span class="container-detail-row-quantity">0</span>
        </div>
        <div class="container-detail-row">
          <span class="container-detail-row-money">Khách hàng đánh giá </span>
          <span class="container-detail-row-quantity">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
