<div class="header">
  <div class="box-login fl-r">
                <span class="box-login-infor">
                    Xin Chào, <i class="fas fa-sort-down"></i>
                </span>
    <div class="box-login-sub">
      <button>
        <i class="fas fa-user-alt"></i>Tài Khoản
      </button>
      <button onclick="LogOut()">
        <i class="fas fa-sign-out-alt"></i>Đăng Xuất
      </button>
    </div>
  </div>
  <!-- mobile navbar -->
  <label for="nav-mobile-input" class="header-mobile__icon">
    <i class="header-mobile__icon-link fa-solid fa-list"></i>
  </label>
  <input type="checkbox" name="" id="nav-mobile-input" autocomplete="off">
  <label for="nav-mobile-input" class="over__lay"></label>
  <div class="header-mobile__menu">
    <label for="nav-mobile-input" class="header-mobile__control">
      <i class="header-mobile__control-icon fa-solid
                        fa-xmark"></i>
    </label>
    <ul class="header-mobile__list">
      <li class="header-mobile__item">
        <button onclick="TongQuan()"><i class="fa-brands
                            fa-bitcoin"></i>Tổng quan</button>
      </li>
      <li class="header-mobile__item">
        <button onclick="LoaiCv()"><i class="fa-solid
                            fa-layer-group"></i>Loại CV</button>
      </li>
      <li class="header-mobile__item">
        <button onclick="Cv()"><i class="fa-solid
                        fa-id-badge"></i>CV</button>
      </li>
      <li class="header-mobile__item">
        <button onclick="Ntd()"><i class="fa-solid fa-building"></i>Nhà
          Tuyển Dụng</button>
      </li>
      <li class="header-mobile__item">
        <button onclick="Uv()"><i class="fa-solid fa-user-pen"></i>Ứng Viên</button>
      </li>
      <li class="header-mobile__item">
        <button onclick="Nv()"><i class="fa-solid fa-user-check"></i>Nhân
          Viên</button>
      </li>
      <li class="header-mobile__item">
        <button><i class="fa-solid fa-newspaper"></i>Tin Tức</button>
      </li>
      <li class="header-mobile__item">
        <button><i class="fa-solid fa-gears"></i>Thiết Lập</button>
      </li>
    </ul>
  </div>
  <!-- * -->
</div>
