<footer class="footer">
  <div class="footer-gray">
    <div class="grid wide">
      <div class="footer-gray-top">
        <div class="row">
          <div class="col l-3 m-3 c-12">
            <div class="footer-gray-top-container">
              <span
                >Về TopCV
                <i class="fa-solid fa-angle-down" style="display: none"></i>
              </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Giới thiệu </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Góc báo chí </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Tuyển dụng</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">liên hệ</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Hỏi đáp</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Chính sách bảo mật</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Điều khoản dịch vụ</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Quy chế hoạt động</a>
                </li>
              </ul>
            </div>
            <div class="footer-gray-top-container" style="margin-top: 40px">
              <span
                >Cộng đồng TopCv
                <i class="fa-solid fa-angle-down" style="display: none"></i>
              </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Facebook Fanpage </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Youtube Offical Channel </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Linkedin</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">TikTok Official Channel </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col l-3 m-3 c-12">
            <div class="footer-gray-top-container">
              <span>Đối Tác </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> TestCenTer </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> TopHR </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">ViecNgay</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Happy Time</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Gitiho</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Học IELTS Dol.vn</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">JAMJA</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Mogi</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Homedy</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Printgo</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col l-3 m-3 c-12">
            <div class="footer-gray-top-container">
              <span>Hồ sơ và CV </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Quản lý CV của bạn </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> TopCV Profile </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Hướng dẫn viết CV</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Review CV</a>
                </li>
              </ul>
            </div>
            <div class="footer-gray-top-container" style="margin-top: 40px">
              <span>Khám phá </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Ứng dụng di động TopCV </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Tính lương Gross - Net </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Tính lãi suất kép</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Lập kế hoạch tiết kiệm</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Tính bảo hiểm thất nghiệp</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Tính bảo hiểm xã hội một lần</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Trắc nghiệm MBTI</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Trắc nghiệm MI</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col l-3 m-3 c-12">
            <div class="footer-gray-top-container">
              <span>Xây dựng sự nghiệp </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Việc làm tốt nhất </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> Việc làm lương cao </a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Việc làm quản lý</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Việc làm từ xa (remote)</a>
                </li>
                <li class="footer-gray-top-container-list-item">
                  <a href="#">Việc làm bán thời gian</a>
                </li>
              </ul>
            </div>
            <div class="footer-gray-top-container" style="margin-top: 40px">
              <span>Phát triển bản thân </span>
              <ul class="footer-gray-top-container-list">
                <li class="footer-gray-top-container-list-item">
                  <a href="#"> TopCV contest </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="footer-gray-bottom">
        <div class="row">
          <div class="col l-8">
            <div class="footer-gray-bottom-left">
              <p>@2014-2022 <strong>Công ty cổ phần TopCV Việt Nam</strong></p>
              <p><strong>Trụ sở HN:</strong></p>
              <p>
                Tầng 03, Tòa nhà Goldseason, 47 Nguyễn Tuân, Thanh Xuân, Hà Nội
              </p>
              <p><strong>Chi nhánh TP HCM</strong></p>
              <p>
                Tòa nhà cao ốc Nam Giao 1, số 261 - 263 Phan Xích Long, Phường
                2, Quận Phú Nhuận, TP Hồ Chí Minh
              </p>
            </div>
          </div>
          <div class="col l-4">
            <div class="footer-gray-bottom-right fl-l">
              <a href="#" class="footer-gray-bottom-right-link">
                <img src="asset/Img/bottom/1.webp" alt="" />
              </a>
              <a href="#" class="footer-gray-bottom-right-link">
                <img src="asset/Img/bottom/2.webp" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
